.navBar{
    display: flex;
    width: 100%;
    height: 50px;
    border: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-top: 20px;
    
}

.random{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    width: 90px;
    height: 25px;
    border:none;
    background-color: #18e6f5;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
    margin-left: 500px;
}

.active{
    margin-right: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: rgb(85, 54, 0);
    width: 130px;
    height: 30px;
    border:none;
    background-color: #ccfa00;
    border-radius: 5px;
    cursor: pointer;
    justify-content: flex-end;
}

.logOut{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: black;
    width: 130px;
    height: 30px;
    border:none;
    background-color: #d10c0c;
    border-radius: 5px;
    cursor: pointer;
}
